BasedOnStyle: Google
IndentWidth: 4
TabWidth: 4
ColumnLimit: 120

Language: Cpp
Standard: Latest

IncludeBlocks: Regroup

IncludeCategories:
  - Regex: '(<|"mbed)'
    Priority: 0
    SortPriority: 0
  - Regex: '"(drivers|rtos|events|platform)'
    Priority: 2
    SortPriority: 0
  - Regex: "PinNames.h"
    Priority: 1
    SortPriority: 0
  - Regex: '"(connectivity|features|storage|ble)'
    Priority: 3
    SortPriority: 0

AccessModifierOffset: -2

Cpp11BracedListStyle: true

DerivePointerAlignment: false
PointerAlignment: Right
AlignAfterOpenBracket: true
AlignConsecutiveAssignments: true

FixNamespaceComments: true
IndentCaseLabels: true

AlignEscapedNewlines: Right

SpacesBeforeTrailingComments: 3
AlignTrailingComments: true
ReflowComments: true

AlignConsecutiveMacros: true

NamespaceIndentation: Inner
SpaceBeforeCpp11BracedList: true
SpaceBeforeParens: ControlStatements
SpaceBeforeRangeBasedForLoopColon: false

UseTab: Always
KeepEmptyLinesAtTheStartOfBlocks: false

AllowShortFunctionsOnASingleLine: Inline
AllowShortBlocksOnASingleLine: Never
AllowShortLambdasOnASingleLine: All

BreakBeforeBraces: Custom
BraceWrapping:
  AfterClass: true
  AfterFunction: true
  AfterEnum: true
  AfterNamespace: false
  BeforeLambdaBody: false

IndentPPDirectives: BeforeHash
