# Leka - LekaOS
# Copyright 2020 APF France handicap
# SPDX-License-Identifier: Apache-2.0

# mbed-os tools dependencies
prettytable==2.5.0
future==0.18.3
Jinja2==3.1.2
intelhex==2.3.0
mbed-tools==7.59.0
mbed-os-tools==1.8.15
pyelftools==0.30

# needed for signing secure images
cryptography==41.0.7
cbor==1.0.0
