# CI Workflow

name: CI - Build

on:
  push:
    branches:
      - develop
    paths-ignore:
      - 'docs/**'
      - 'extern/**'
      - 'tools/**'
      - '.vscode/**'
      - '.editorconfig'
      - '.gitignore'
      - '.mbed'
      - 'LICENSE'
      - 'README.md'

  pull_request:
    branches:
      - develop
    paths-ignore:
      - 'docs/**'
      - 'extern/**'
      - 'tools/**'
      - '.vscode/**'
      - '.editorconfig'
      - '.gitignore'
      - '.mbed'
      - 'LICENSE'
      - 'README.md'

jobs:

  make_config_make_all:
    name: Config & Build LekaOS
    runs-on: [self-hosted, macOS]
    steps:
      - name: Checkout
        uses: actions/checkout@v2.0.0
      # - name: Brew install coreutils & ninja
      #   run: |
      #     brew install coreutils ninja
      #     echo "/usr/local/opt/coreutils/libexec/gnubin" >> $GITHUB_PATH
      # - name: Brew install arm-none-eabi-gcc
      #   run: |
      #     brew tap ArmMbed/homebrew-formulae
      #     brew install arm-none-eabi-gcc
      - name: Clone Mbed OS
        run: |
          make clone_mbed BRANCH=mbed-os-6.3.0
      # - name: Install mbed-cli and dependencies
      #   run: |
      #     python3 -m pip install -U --user mbed-cli pyserial intelhex prettytable
      #     python3 -m pip install -U --user -r extern/mbed-os/requirements.txt
      - name: Config build system
        run: |
          make config
      - name: Build LekaOS & al.
        run: |
          make
