# Leka - LekaOS
# Copyright 2022 APF France handicap
# SPDX-License-Identifier: Apache-2.0

name: Create Release

on:
  push:
    branches:
      - main
      - develop

  pull_request:
    types: [opened, synchronize, reopened]

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  bootloader_os_firmware:
    name: Bootloader + OS = Firmware
    runs-on: ubuntu-22.04

    steps:
      #
      # Mark: - Setup
      #
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0 # Shallow clones should be disabled for a better relevancy of analysis

      - name: Setup CI
        uses: ./.github/actions/setup
        with:
          ccache_key: ${{ runner.os }}-ccache-create_release
          ccache_restore_keys: |
            ${{ runner.os }}-ccache-create_release-
            ${{ runner.os }}-ccache-

      #
      # Mark: - Config & build
      #

      - name: Get key to sign
        run: |
          echo "${{ secrets.FIRMWARE_SIGNING_KEY }}" > signing-keys.pem

      - name: Ccache pre build
        run: |
          make ccache_prebuild

      - name: Build firmware, os, bootloader
        run: |
          make firmware

      - name: Ccache post build
        run: |
          make ccache_postbuild
          cat ${{ env.CCACHE_LOGFILE }} || True
          ccache -z

      #
      # Mark: - Upload
      #

      - name: Upload artifacts
        uses: actions/upload-artifact@v3
        with:
          name: bootloader_os_firmware
          retention-days: 7
          path: |
            _release/Firmware-*.hex
            _release/LekaOS-*.bin

      #
      # Mark: - Check versions from files and os_version are identical
      #

      - name: Check os/firmware version
        id: check_os_firmware_version
        uses: ./.github/actions/check_version
        with:
          firmware_hex_path: _release/Firmware-*.hex
          os_bin_path: _release/LekaOS-*.bin
