# Leka - LekaOS
# Copyright 2021 APF France handicap
# SPDX-License-Identifier: Apache-2.0

name: Code Analysis

on:
  push:
    branches:
      - master
      - develop

  pull_request:
    types: [opened, synchronize, reopened]

jobs:
  sonarcloud:
    name: sonarcloud
    runs-on: ubuntu-latest

    steps:
      #
      # Mark: - Setup
      #

      - uses: actions/checkout@v2
        with:
          fetch-depth: 0 # Shallow clones should be disabled for a better relevancy of analysis

      - name: Setup CI
        uses: ./.github/actions/setup

      #
      # Mark: - SonarCloud
      #

      - name: Download SonarCloud build wrapper
        run: |
          wget ${{ env.SONARCLOUD_BUILD_WRAPPER_URL }}
          unzip ${{ env.SONARCLOUD_BUILD_WRAPPER_FILENAME }} && rm -rf ${{ env.SONARCLOUD_BUILD_WRAPPER_FILENAME }}
          mv ${{ env.SONARCLOUD_BUILD_WRAPPER_EXTRACT_DIRECTORY }} ~/build-wrapper
          echo "~/build-wrapper" >> $GITHUB_PATH

      - name: Download sonar-scanner
        run: |
          wget ${{ env.SONARCLOUD_CLI_URL }}
          unzip ${{ env.SONARCLOUD_CLI_FILENAME }} && rm -rf ${{ env.SONARCLOUD_CLI_FILENAME }}
          mv ${{ env.SONARCLOUD_CLI_EXTRACT_DIRECTORY }} ~/sonar-scanner
          echo "~/sonar-scanner/bin" >> $GITHUB_PATH

      - name: Cache sonarcloud cache
        id: global_cache-sonarcloud
        uses: actions/cache@v2
        with:
          path: ${{ env.SONARCLOUD_CACHE_DIR}}
          key: ${{ runner.os }}-global_cache-sonarcloud-${{ env.CACHE_NOW_TIME }}
          restore-keys: |
            ${{ runner.os }}-global_cache-sonarcloud-

      #
      # Mark: - Build
      #

      - name: Ccache pre build
        run: |
          make ccache_prebuild

      - name: Config, build LekaOS & al.
        run: |
          make config config_tools
          build-wrapper-linux-x86-64 --out-dir bw-output make

      - name: Ccache post build
        run: |
          make ccache_postbuild
          ccache -z

      - name: Ccache pre unit tests
        run: |
          make ccache_prebuild

      - name: Config, build & run unit tests
        run: |
          make config_unit_tests
          make unit_tests
          make coverage_sonarqube

      - name: Ccache post unit tests
        run: |
          make ccache_postbuild
          ccache -z

      #
      # Mark: - Analyze
      #

      - name: Upload compilation database
        uses: actions/upload-artifact@v2
        with:
          name: compile_commands.json
          path: ./_build_cmake_tools/compile_commands.json

      - name: Run sonar-scanner
        run: |
          sonar-scanner -X -Dsonar.login=${{ secrets.SONAR_TOKEN }}
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
