# CI Workflow

name: CI - Unit Tests

on:
  push:
    branches:
      - develop
      - master

  pull_request:
    branches:
      - develop
      - "feature/**"
      - "bugfix/**"

jobs:
  config_build_run:
    name: Config, Build & Run
    runs-on: [self-hosted, build]
    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          fetch-depth: 2

      - name: Create cache variables
        id: create_cache_variables
        run: |
          echo "::set-output name=timestamp::$(date +'%Y%m%d%H%M%S')"

      - name: Cache ccache files
        id: cache_ccache_files
        uses: actions/cache@v2
        with:
          path: ~/.ccache
          key: ${ { runner.os } }-cache-ccache_files-${ { steps.create_cache_variables.outputs.timestamp } }
          restore-keys: |
            ${ { runner.os } }-cache-ccache_files-

      - name: Cache Mbed OS
        id: cache_mbed_os
        uses: actions/cache@v2
        with:
          path: extern/mbed-os
          key: ${{ runner.os }}-cache-mbed_os-${{ hashFiles('extern/mbed-os/platform/include/platform/mbed_version.h', '.mbed_version') }}

      - name: Curl Mbed OS
        if: steps.cache_mbed_os.outputs.cache-hit != 'true'
        run: |
          make mbed_curl

      - name: Config build system
        run: |
          make config_unit_tests

      - name: Build & run unit tests
        run: |
          make ut

      - name: Generate lcov code coverage
        run: |
          make coverage_lcov

      - name: Upload Codecov code coverage
        env:
          CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}
        run: |
          bash <(curl -s https://codecov.io/bash) -f ${{github.workspace}}/_build_unit_tests/_coverage/coverage.info || echo "Codecov did not collect coverage reports"
