# CMake CI Workflow

name: CI

on: [push]

jobs:

  make_config_make_all:
    name: Config & Build
    runs-on: macos-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2.0.0
      - name: Test script
        run: |
          brew install coreutils
          export PATH="/usr/local/opt/coreutils/libexec/gnubin:$PATH"
          brew install ninja
          brew tap ArmMbed/homebrew-formulae
          brew install arm-none-eabi-gcc
          make clone_mbed BRANCH=mbed-os-6.3.0
          python3 -m pip install -U --user mbed-cli pyserial intelhex prettytable
          python3 -m pip install -U --user -r lib/_vendor/mbed-os/requirements.txt
          make config
          make
